# Игнорировать виртуальное окружение
myenv/

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать временные файлы
*.pyc
__pycache__/

.env

images/

# very large model ... it will be generated automaitcally in the first run 
models/yolo11x-pose.pt